.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all text files
*.txt
# Ignore all text files
*.TXT
# Ignore all csv files
*.csv
# Ignore all pdf files
*.pdf
# Ignore all html files
*.html
# Ignore all log files
*.log
# Ignore all xlsx files
*.xlsx
# Ignore all docx files
*.docx